<?xml version="1.0" encoding="utf-8" ?>

<root>
	<system>
		<device type="充电机" ip="192.168.1.253" port="4001" maxVol="11" />
		<device type="控制板" ip="192.168.127.254" port="4003" />
		<device type="录波板" ip="192.168.127.254" port="4002">
			<测量参数>
				<!--实际值=上送值*coe+off -->
				<coeI>14.889263</coeI>
				<offI>140</offI>
				<coeU>1</coeU>
				<offU>0</offU>
			</测量参数>
		</device>
		<device type="电压测量板" ip="192.168.127.254" port="4004">
			<测量参数>
				<!--以下依次为5个电压的测量系数，实际值=上送值*coe+off -->
				<测量系数 coe="0.610361" off="-20000" />
				<测量系数 coe="0.610361" off="-20000" />
				<测量系数 coe="0.610361" off="-20000" />
				<测量系数 coe="0.610361" off="-20000" />
				<测量系数 coe="0.610361" off="-20000" />
			</测量参数>
		</device>
	</system>
	
	<系统参数>
		<充电超时时间>95</充电超时时间>
		<!-- 单位为s，要比比最长充电时间大 -->
		<启动充电下发后充电状态超时时间>10</启动充电下发后充电状态超时时间>
		<!-- 单位为s，指充电命令下发后，充电机的状态变化为充电中的超时时间 -->
		<停止充电下发后充电状态超时时间>5</停止充电下发后充电状态超时时间>
		<!-- 单位为s，指充电停止命令下发后，充电机的状态变化为无输出的超时时间 -->
		<充电保护阈值>17000</充电保护阈值>
		<!-- 单位V，指充过程中电压超过该值需发急停命令 -->
	</系统参数>
</root>